.calculatorMain {
  position: relative;
  max-width: 320px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding-top: 10px;
}
